.lineParent{
    height: 100%;
    width:100%;
    align-items: center;
    position:absolute;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
}

.stepTab{

    width: 25%;
    text-align: center;
    z-index: 2;

    
}

.stepTab-card{
  margin-top: 40px;
  width: 32%;
  /* text-align: center; */
  z-index: 2;
  margin-right: 2%;
  
}
.square-tab {
    width: 50px;
    height: 50px;
    /*line-height: 45px;*/
    border-radius: 10px;
  
    background: #fff;
    border: 2px solid #e0e0e0;
    font-size: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 576px) {
  body {
    background-color: lightblue;
  }
}
.square-tab-nolevel{
  box-shadow: 0px 24px rgb(26, 25, 25);
}
.square-tab-silver{
  box-shadow: 0px 24px grey;
}
.square-tab-gold{
  box-shadow: 0px 24px #f1b92a;
}
.square-tab-platinum{
  box-shadow: 0px 24px #6087aa;
}
.silvercurrentLevel{
  box-shadow: 0px 24px grey;
  

}

.changeSilver{
  background: #8d8c8c!important;
}
.changeGold{
  background: #f8c648!important;
}
.changePlatinum{
  background: #6d9bc3!important;
}




