nav,
ul {
  list-style: none !important;
}
aside {
  display: none !important;
}
@media screen and (max-width: 550px) {
  aside {
    display: flex !important;
  }
  aside.active {
    left: 0 !important;
  }
}
